* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  width: 100%;
  height: 50px;
}

.orange {
  background-color: #ff9a4b;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step-box {
  width: 300px;
  background-color: #eeeeee;
  position: relative;
  margin-right: 30px;
  padding: 10px;
}

.step-box:last-child {
  margin-right: 0;
}

.step-no {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.image {
  height: 150px;
  background-size: cover;
  background-position: bottom;
}

.image1 {
  background-image: url(img/flow01.png);
}

.image2 {
  background-image: url(img/flow02.png);
}
.image3 {
  background-image: url(img/flow03.png);
}
.title {
  margin-top: 15px;
  margin-bottom: 5px;
}

.centence {
}

.bottom {
  width: 100%;
  height: 50px;
  background-color: #aaaaaa;
}
